body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    display: grid;
    width: 500px;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1.5rem 1rem;
    margin: 5px 20px 20px 20px;
    display: flex;
    flex-flow: column;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
  }
  
  .icon {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    order: -1;
  }

  @media screen and (min-width: 600px) {
      
  }
