* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;   
  }
  .emojis {
    display: grid;
    margin: auto;
    grid-gap: 20px;
    justify-content: space-around;
  }
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
    height: 350px;
    display: flex;
    flex-direction: column;    
  }
  
  h1 {
      margin-top: 20px;
      margin-bottom: 20px;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
  }
  
  .icon {
    font-size: 4rem;
    margin: 0 15px 10px 15px;
    display: flex;
    justify-content: center;
    order: -1;
  }

  @media screen and (min-width: 600px) {
      body {
        max-width: 1000px;
      }
      .emojis {
          display: grid;
          margin-bottom: 20px;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-gap: 20px;
       }

      .emoji {
           padding: 1rem;
           justify-content: space-between;
           
       }
       
      .emoji a {
         margin: 10px 30px 10px 0;
       }     
    
  }
